<!DOCTYPE html>
<html>
  <head>
    {% if visualize == 1 %}
      {{sndmap.js}}
    {% endif %}
  </head>
  <body>
    <h1>Flask Google Maps Example</h1>
    <div class="download text-right">
      <a href="/download" ><button class="btn btn-success" id="download">Eksekusi</button></a>
    </div>
    {% if visualize == 1 %}
      <h2>Second map generated in view</h2>
      <h3>Example for different icons in multiple markers with infoboxes</h3>
      {{sndmap.html}}
    {% endif %}
  </body>
</html>