{% include "header.html" %}
      <!-- <div class="search-container">
        

      </div> -->
      <!-- <div class="heading-info text-center"> -->
        <!-- <h4>Dessy Atika - 161402060</h4> -->
        <img style="width: 1000px;" class="logo" alt="LOGO" src="{{ url_for('static', filename='desi-01.png')}}"w/>
<!--         
        <h5>PROGRAM STUDI S1 TEKNOLOGI INFORMASI</h5>
        <h5>FAKULTAS ILMU KOMPUTER DAN TEKNOLOGI INFORMASI USU</h5>
        <h5>UNIVERSITAS SUMATERA UTARA</h5>
        <h5>MEDAN</h5>
        <h5>2021</h5> -->
      <!-- </div> -->
      <!-- <div class="download text-left">
        <button class="btn btn-success" type="submit" style="margin-left: 10%; margin-top: -14%;">Lakukan Ekstraksi</button>
      </div> -->
    </div>
  </div>
</div>
</div>
<script src="{{ url_for('static', filename='jquery.min.js')}}"></script>
{% include "footer.html" %}